<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.best">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".AdditionalInfo"
            android:label="Author &amp; Measure Info"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="Subtask Settings"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".createProfile.CreateProfileActivity"
            android:label="New Examinee Profile"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".loadProfile.LoadProfileActivity"
            android:label="Load Profile"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".loadProfile.ProfileInfoActivity"
            android:label="Profile Info"
            android:parentActivityName=".loadProfile.LoadProfileActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".subtasks.StartBEST"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".subtasks.StartBESTfromCreate"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".subtasks.RVE.RVEInstructions"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".subtasks.RVE.RVETest"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".subtasks.RVE.RVEDone"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".subtasks.PRE.PREInstructions"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".subtasks.PRE.PRE1Test"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".subtasks.PRE.PREInterim"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".subtasks.PRE.PRE2Test"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".subtasks.PVE.PVEInstructions"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".subtasks.PVE.PVE1Test"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".subtasks.PVE.PVE1Done"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".subtasks.PVE.PVEInterim"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".subtasks.PVE.PVE2Test"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".subtasks.PVE.PVE2Done"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".subtasks.PPE.PPEInstructions"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".subtasks.PPE.PPE1Test"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".subtasks.PPE.PPEInterim"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".subtasks.PPE.PPE2Test"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".subtasks.RBE.RBEInstructions"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".subtasks.RBE.RBETest"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".subtasks.EndBEST"
            android:label="Results"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".loadProfile.ProfileInfoViewResult"
            android:label="Results"
            android:parentActivityName=".loadProfile.ProfileInfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".loadProfile.EditProfileActivity"
            android:label="Edit Profile"
            android:parentActivityName=".loadProfile.ProfileInfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".InstructionsActivity"
            android:label="Instructions"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>